@import url('global.css');

.highlight {
    color: var(--yellow-color);
}

/* ===== Banner SECTION ===== */
.banner {
    background-color: var(--green-color);
    padding: 80px 0;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.banner .container {
    text-align: center;
}

.banner .container h1 {
    color: #111;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.1;
}

.banner .container p {
    font-size: 20px;
    margin-bottom: 2rem;
}

/* ===== SEÇÕES GERAIS ===== */
section {
    padding: 80px 0;
}

section.grayline {
    background-color: var(--gray-bg);
    padding: 80px 0 80px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

section.blackline {
    background-color: var(--dark-bg);
    padding: 80px 0 80px;
}

section.greenline {
    background-color: var(--green-color);
    padding: 80px 0 80px;
}

/* ===== Cards grayline ===== */

.card {
    width: 220px;
    padding: 40px 20px;
    border-radius: 15px;
    background-color: var(--dark-bg);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
    transition: 0.2s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 10px #00000050;
}

.card .icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--magent-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .tittle {
    color: var(--white-text);
    text-align: center;
}

.card .info {
    font-weight: 100;
    font-size: 14px;
    color: var(--white-text);
    text-align: center;
}

.card .info p {

    margin: 0;
    padding: 0;
}

/* ===== FORMS Container ===== */

.form-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: var(--white-text);
}

.form-container .coluna {
    width: 400px;
    padding: 20px;
    background-color: var(--gray-bg);
    border-radius: 10px;
    box-shadow: var(--shadow-md);
    display: flex;
    flex-direction: column;
}

.form-container .coluna span {
    margin-top: 10px;
    color: var(--gray-text);
}

.form-container .coluna span i {
    margin-right: 10px;
    color: var(--magent-color);
}

.form-container .tittle {
    color: var(--white-text);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-container .subtittle {
    color: var(--gray-text);
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 10px;
}

.form-container .linha {
    width: 100%;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.form-container .linha .input-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-container .linha .input-box label {
    font-size: 14px;
}

.form-container .linha .input-box .input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--grayline);
    background: var(--dark-bg);
    font-size: 14px;
    color: var(--white-text);
    outline: none;
}

.form-container .linha.termos {
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    color: var(--gray-text);
    display: flex;
    justify-content: center;
    align-items: start;
}

.form-container .linha.termos p {
    margin-bottom: 0;
}

.form-container .linha.termos input {
    width: 15px;
    height: 15px;
    margin-top: 3px;
}

.form-container #btn-enviar {
    width: 100%;
    padding: 10px 30px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    background: var(--yellow-color);
    color: var(--dark-bg);
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    gap: 10px;
}

.form-container #btn-enviar p {
    padding: 0;
    margin: 0;
}

/* DUVIDAS ----------------------------------------------------------------*/

.duvidas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.duvidas-container .tittle {
    color: var(--white-text);
    position: relative;
    font-size: 30px;
    padding-bottom: 20px;
}

.duvidas-container .tittle::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 5px;
    background: var(--green-color);
    border-radius: 2px;
    transition: width 0.3s ease;
}

.duvidas-container .subtittle {
    color: var(--gray-text);
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 40px;
}

.section-perguntas .card {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--dark-bg);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
    transition: 0.2s;
}

.section-perguntas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.section-perguntas .card:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 10px #00000050;
}

.section-perguntas .card .pergunta {
    color: var(--white-text);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.section-perguntas .card p {
    font-weight: 100;
    font-size: 14px;
    color: var(--gray-text);
    text-align: center;
}

.duvidas-container .ver-mais {
    padding: 10px 20px;
    margin-top: 30px;
    background: none;
    color: var(--yellow-color);
    border-radius: 7px;
    border: 1px solid var(--yellow-color);
    outline: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.duvidas-container .ver-mais:hover {
    background: var(--yellow-color);
    color: var(--subtitle);
    transform: translateY(-2px);
    box-shadow: 10px 10px 10px #00000030;
}

.duvidas-container .ver-mais:hover b {
    background: var(--gray-bg);
    color: var(--yellow-color);
}

.duvidas-container .ver-mais b {
    width: 25px;
    height: 25px;
    background: var(--yellow-color);
    color: var(--gray-bg);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.duvidas-container .ver-mais p {
    margin: 0;
}

.duvidas-container .container-ver-mais {
    margin-top: 20px;
    display: none;
    transition: 0.3s;
}

.duvidas-container .container-ver-mais.ativo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.duvidas-container .container-ver-mais .card {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--dark-bg);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
    transition: 0.2s;
}

.duvidas-container .container-ver-mais .card:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 10px #00000050;
}

.duvidas-container .container-ver-mais .card .pergunta {
    color: var(--white-text);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.duvidas-container .container-ver-mais .card p {
    font-weight: 100;
    font-size: 14px;
    color: var(--gray-text);
    text-align: center;
}


/* Responsta Rapida ----------------------------------------------------------- */

.container-resposta-rapida {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: var(--title);
}

.container-resposta-rapida .tittle {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.container-resposta-rapida p {
    color: var(--subtitle);
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.container-resposta-rapida .canais {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container-resposta-rapida .canais button {
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container-resposta-rapida .canais .whatsapp {
    background: #25D366;
    outline: 1px solid var(--dark-bg);
}

.container-resposta-rapida .canais .whatsapp:hover {
    background: #4fe385;
    outline: 1px solid var(--dark-bg);
    transform: translateY(-2px);
    box-shadow: 10px 10px 10px #00000030;
}

.container-resposta-rapida .canais .ligue-agora {
    background: var(--dark-bg);
    color: var(--green-color);
}

.container-resposta-rapida .canais .ligue-agora:hover {
    background: var(--gray-bg);
    transform: translateY(-2px);
    box-shadow: 10px 10px 10px #00000030;
}

.container-resposta-rapida .canais .enviar-email {
    background: var(--magent-color);
}

.container-resposta-rapida .canais .enviar-email:hover {
    background: var(--magent-color-light);
    transform: translateY(-2px);
    box-shadow: 10px 10px 10px #00000030;
}

@media (max-width: 768px) {
    .canais-contato {
        flex-wrap: wrap;
    }

    .form-container {
        padding: 10px 30px;
    }

    .form-container .coluna {
        width: 100%;
    }

    .duvidas-container .section-perguntas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .duvidas-container .section-perguntas {
        padding: 0px 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .duvidas-container .container-ver-mais.ativo {
        padding: 0px 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .duvidas-container .container-ver-mais {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 391px) {
    .container-resposta-rapida .canais {
        display: flex;
        flex-wrap: wrap;
    }
}