@import url('global.css');

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: black;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

.hero {
    margin-top: 70px;
}

.hero-conteiner {
    text-align: center;
    background-color: var(--green-color);
    padding: 50px;
    font-size: 25px;
}

.option-conteiner {
    background-color: #333;
    justify-content: center;
    margin: auto;
    display: flex;
    gap: 15px;
    padding: 30px;
    border-bottom: solid 1px var(--light-gray);
}

.classification {
    background-color: var(--dark-bg);
    border: solid 1px var(--green-color);
    padding: 10px 20px;
    color: var(--green-color);
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.classification:hover {
    background-color: var(--green-color);
    color: var(--dark-bg);
    transition: background-color 0.3s ease;
}

.option-kids {
    background-color: var(--dark-bg);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--gray);
    padding-top: 80px;
}

.option-kids h1 {
    color: var(--white);
    margin-bottom: 20px;
}

.option-block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #333;
    border: solid 1px var(--light-gray);
    border-radius: 12px;
    width: 400px;
    height: auto;
    color: rgb(200, 200, 200);
    margin-bottom: 80px;
}

.option-block h2 {
    color: var(--white);
    padding: 20px;
}

.box {
    display: flex;
    gap: 40px;
    margin-top: 40px;

}

.icone {
    color: var(--dark-bg);
    font-size: 25px;
    margin-top: 20px;
    background-color: var(--yellow-color);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topic1 {
    display: flex;
    gap: 10px;
}

.icone-char {
    color: var(--magent-color);
}

.characterist {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    text-align: left;
    padding: 0 20px 20px 20px;
}

.price {
    margin-top: 15px;
    display: flex;
    text-align: center;
    align-items: center;
}

.price h3 {
    color: var(--yellow-color);
}

.Matricula {
    margin-top: 20px;
    background-color: var(--yellow-color);
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;

}

.Matricula:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.option-teens {
    background-color: #333;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--gray);
    padding-top: 80px;
}
.option-teens h1 {
    color: var(--white);
    margin-bottom: 20px;
}
.option-Adults{
    background-color: var(--dark-bg);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--gray);
    padding-top: 80px;
}
.option-Adults h1 {
    color: var(--white);
    margin-bottom: 20px;
}

.final-conteiner{
    text-align: center;
    background-color: var(--green-color);
    padding: 90px;
    font-size: 25px;
}
.final-conteiner button{
    margin-top: 20px;
    background-color: var(--dark-bg);
    color: var(--green-color);
    border: none;
    padding: 25px 40px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
    border: solid 2px var(--magent-color);
}
.final-conteiner button:hover {
    background-color: var(--yellow-color);
    color: var(--dark-bg);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}