@import url('global.css');

.hero {
    margin-top: 80px;
}

.hero-conteiner {
    background-color: var(--green-color);
    color: var(--title);
    font-size: 25px;
    padding: 50px;
    text-align: center;
}

.hero-conteiner p {
    color: var(--subtitle);
}

.option-conteiner {
    background-color: var(--gray-bg);
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: auto;
    padding: 30px;
}

.classification {
    background-color: var(--dark-bg);
    border-radius: 20px;
    border: solid 1px var(--green-color);
    color: var(--green-color);
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.classification:hover {
    background-color: var(--green-color);
    color: var(--dark-bg);
    transition: background-color 0.3s ease;
}

.option-kids {
    align-items: center;
    background-color: var(--dark-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    text-align: center;
}

.option-kids h2 {
    color: var(--white-text);
    margin-bottom: 20px;
}

.option-kids p {
    color: var(--gray-text);
}


.option-block {
    align-items: center;
    background-color: var(--gray-bg);
    border-radius: 12px;
    border: solid 1px var(--grayline);
    color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin-bottom: 80px;
    padding: 20px;
    text-align: center;
    width: 400px;
}

.option-block h2 {
    color: var(--white);
    padding: 20px;
}

.box {
    display: flex;
    gap: 40px;
    margin-top: 40px;

}

.icone {
    align-items: center;
    background-color: var(--yellow-color);
    border-radius: 50%;
    color: var(--dark-bg);
    display: flex;
    font-size: 25px;
    height: 65px;
    justify-content: center;
    margin-top: 20px;
    width: 65px;
}

.topic1 {
    display: flex;
    gap: 10px;
}

.icone-char {
    color: var(--magent-color);
}

.characterist {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    padding: 0 20px 20px 20px;
    text-align: left;
}

.price {
    align-items: center;
    display: flex;
    margin-top: 15px;
    text-align: center;
}

.price h3 {
    color: var(--yellow-color);
}

.Matricula {
    background-color: var(--yellow-color);
    border-radius: 8px;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 15px 30px;
    transition: 0.3s ease;

}

.Matricula:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
    transition: 0.3s ease;
}

.option-teens {
    align-items: center;
    background-color: var(--gray-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    text-align: center;
}

.option-teens h2 {
    color: var(--white-text);
    margin-bottom: 20px;
}

.option-teens p {
    color: var(--gray-text);
}

.option-Adults {
    align-items: center;
    background-color: var(--dark-bg);
    color: var(--gray-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    text-align: center;
}

.option-Adults h2 {
    color: var(--white);
    margin-bottom: 20px;
}

.final-conteiner {
    background-color: var(--green-color);
    font-size: 25px;
    padding: 90px;
    text-align: center;
    color: var(--title);
}

.final-conteiner p{
    color: var(--subtitle);

}

.final-conteiner button {
    background-color: var(--dark-bg);
    border-radius: 8px;
    border: none;
    border: solid 2px var(--magent-color);
    color: var(--green-color);
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 25px 40px;
    transition: 0.3s ease;
}

.final-conteiner button:hover {
    background-color: var(--yellow-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    color: var(--dark-bg);
    transform: translateY(-3px);
    transition: 0.3s ease;
}

.secao {
    display: none;
}

.secao.ativa {
    display: block;
}