@import url('global.css');

.highlight {
    color: var(--yellow-color);
}

/* Banner ----------------------------------------------------------------*/
.banner {
    background-color: var(--green-color);
    padding: 70px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.banner .container {
    text-align: center;
}

.banner .container h1 {
    color: var(--title);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.1;
}

.banner .container p {
    color: var(--subtitle);
    font-size: 20px;
    margin-bottom: 2rem;
}

/* Section Predefinida ----------------------------------------------------------------*/
section {
    padding: 80px 0;
}

section.grayline {
    background-color: var(--gray-bg);
    padding: 80px 0 80px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

section.blackline {
    background-color: var(--dark-bg);
    padding: 80px 0 80px;
}

section.greenline {
    background-color: var(--green-color);
    padding: 80px 0 80px;
}

/* Perguntas Frequentes  ----------------------------------------------------------------*/

.perguntas-frequentes {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
.perguntas-frequentes nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}
.perguntas-frequentes nav button {
    background: none;
    border: none;
    outline: 2px solid var(--green-color);
    padding: 10px 15px;
    border-radius: 150px;
    cursor: pointer;
    color: var(--white-text);
    font-weight: 600;
    transition: 0.2s;
}
.perguntas-frequentes nav button:hover {
    background: var(--green-color);
    color: var(--dark-bg);
}
.perguntas-frequentes nav button.active {
    background: var(--green-color);
    color: var(--dark-bg);
}
.perguntas-frequentes .card {
    width: 100%;
    color: var(--white-text);
    margin-bottom: 10px;
    overflow: hidden;
}
.perguntas-frequentes .card .pergunta {
    position: relative;
    background: var(--gray-bg);
    border: 1px solid var(--grayline);
    padding: 20px;
    color: var(--white-text);
    font-size: 16px;
    border-radius: 10px;
    font-weight: 60 0;
    margin-bottom: 0px;
    z-index: 20;
    cursor: pointer;
}
.perguntas-frequentes .card .resposta {
    background: var(--gray-bg);
    border-radius: 0 0 10px 10px;
    font-size: 14px;
    color: var(--gray-text);
    overflow: hidden;
    max-height: 0;
    padding: 0 20px;
    transform: translateY(-10px);
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.perguntas-frequentes .card .resposta.active {
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* DUVIDAS ----------------------------------------------------------------*/

.duvidas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.duvidas-container .tittle {
    color: var(--white-text);
    position: relative;
    font-size: 30px;
    padding-bottom: 20px;
}

.duvidas-container .tittle::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 5px;
    background: var(--green-color);
    border-radius: 2px;
    transition: width 0.3s ease;
}

.duvidas-container .subtittle {
    color: var(--gray-text);
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 40px;
}

/* Responsta Rapida ----------------------------------------------------------- */

.container-resposta-rapida {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: var(--title);
}
.container-resposta-rapida .tittle {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.container-resposta-rapida p {
    color: var(--subtitle);
    font-size: 1.25rem;
    margin-bottom: 2rem;
}
.container-resposta-rapida .canais {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.container-resposta-rapida .canais button {
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.container-resposta-rapida .canais .whatsapp {
    background: #25D366;
    outline: 1px solid var(--dark-bg);
}
.container-resposta-rapida .canais .whatsapp:hover {
    background: #4fe385;
    outline: 1px solid var(--dark-bg);
    transform: translateY(-2px);
    box-shadow: 10px 10px 10px #00000030;
}
.container-resposta-rapida .canais .ligue-agora {
    background: var(--dark-bg);
    color: var(--green-color);
}
.container-resposta-rapida .canais .ligue-agora:hover {
    background: var(--grayline);
    transform: translateY(-2px);
    box-shadow: 10px 10px 10px #00000030;
}
.container-resposta-rapida .canais .enviar-email {
    background: var(--magent-color);
}
.container-resposta-rapida .canais .enviar-email:hover {
    background: var(--magent-color-light);
    transform: translateY(-2px);
    box-shadow: 10px 10px 10px #00000030;
}

@media (max-width: 590px) {
    .perguntas-frequentes nav {
        flex-wrap: wrap;
    }
    .container-resposta-rapida .canais {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 390px) {
    .banner {
        padding: 30px 10px;
    }
    .container-resposta-rapida {
        padding: 0px 10px;
    }
}