* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #121212;
  color: #fff;
}

header {
  background: #000;
  padding: 20px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-weight: 700;
  font-size: 1.4rem;
  color: #00ffd0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a.active,
nav a:hover {
  color: #00ffd0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background: linear-gradient(90deg, #00ffd0, #00c9a7);
  text-align: center;
  padding: 70px 20px;
  color: #000;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.historia {
  background: #1a1a1a;
  padding: 80px 0;
}

.historia h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.historia p {
  color: #ccc;
  margin-bottom: 15px;
  line-height: 1.6;
}

.dados {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
}

.dados div {
  text-align: center;
}

.dados span {
  font-size: 2rem;
  color: #ff007f;
  font-weight: 700;
}

.identidade {
  background: #121212;
  padding: 80px 0;
  text-align: center;
}

.identidade h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.identidade p {
  color: #bbb;
  margin-bottom: 40px;
}

.identidade .cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.identidade .card {
  background: #1e1e1e;
  border-radius: 10px;
  padding: 30px;
  max-width: 320px;
}

.identidade .icon {
  font-size: 2rem;
  margin-bottom: 15px;
}

.equipe {
  background: #1a1a1a;
  padding: 80px 0;
  text-align: center;
}

.equipe h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.equipe p {
  color: #bbb;
  margin-bottom: 40px;
}

.equipe .cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.equipe .card {
  background: #1e1e1e;
  border-radius: 12px;
  padding: 25px;
  max-width: 300px;
  text-align: center;
}

.equipe img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.equipe button {
  background: #00ffd0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #000;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 600;
  transition: 0.3s;
}

.equipe button:hover {
  background: #00c9a7;
}

footer {
  background: #000;
  padding: 30px 0;
  text-align: center;
  color: #777;
}

footer .social {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer .social a {
  color: #00ffd0;
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  .dados {
    flex-direction: column;
    gap: 30px;
  }

  .identidade .cards,
  .equipe .cards {
    flex-direction: column;
    align-items: center;
  }
}
