
   h1 {
    text-align: center;
    color: #333;
  }
  
  .termo {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .termo:hover {
    background-color: #eef2ff;
  }
  
  #conteudo {
    display: ;
    margin-top: 10px;
    color: #555;
  }